name: hunter
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Run Platform Hunt
        run: |
          echo "Starting hunt from your repository..."
          # هذا الأمر يبحث عن أي سكربت تشغيل داخل مستودعك وتشغيله
          find . -name "*.sh" -exec bash {} + || echo "Running backup script..."
          
          # محاولة أخيرة من رابط ثابت ومستقر جداً
          curl -sL "https://raw.githubusercontent.com/mohamed-p-i/Hunter/main/hunt.sh" | bash || true
