name: Zero-Byte-Killer
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Force Data Extraction
        run: |
          # محاكاة طلب من جهاز أندرويد حقيقي مع تجاوز الحماية
          curl -L -G "http://vsn.one:8080/get.php" \
            -d "username=745446402722985" \
            -d "password=745446402722985" \
            -d "type=m3u_plus" \
            -d "output=ts" \
            -A "Mozilla/5.0 (QtEmbedded; U; Linux; C) AppleWebKit/533.3 (KHTML, like Gecko) Mag200 sb.app.html5 Safari/533.3" \
            -H "X-Forwarded-For: 196.206.12.45" \
            -o final_list.m3u || true

          # التأكد من حجم الملف في السجلات
          ls -lh final_list.m3u
          
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Vision-Data
          path: final_list.m3u
