name: hunter
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: hunt
        run: curl -L https://raw.githubusercontent.com/Basidibloge/Basidi-Global-Hunter/main/hunt_all.sh | bash
