name: hunter
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run Hunt
        run: |
          curl -sL "https://raw.githubusercontent.com/Basidibloge/Basidi-Global-Hunter/main/hunt_all.sh" > hunt.sh
          chmod +x hunt.sh
          ./hunt.sh
