name: Basidi-Global-Hunter
on:
  schedule:
    - cron: '0 */2 * * *'
  workflow_dispatch:

jobs:
  update_gist:
    runs-on: ubuntu-latest
    steps:
      - name: تحديث البيانات تلقائياً لكل الباقات
        run: |
          curl -L -X PATCH \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GIST_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/gists/23d0584fe31dcce4b78ab41116bbb147 \
            -d '{"files":{"Config.jonson":{"content":"{\n  \"host\": \"http://power-server.net:8080\",\n  \"user\": \"BASIDI_AUTO\",\n  \"pass\": \"GLOBAL_2026\",\n  \"info\": \"تم تحديث الباقات العربية والفرنسية بنجاح\"\n}"}}}'
