name: hunter
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run Direct Hunt
        run: |
          echo "Starting the hunt..."
          # هذا الأمر سيقوم بالبحث عن السيرفرات مباشرة
          curl -sL "https://raw.githubusercontent.com/Basidibloge/Basidi-Global-Hunter/main/hunt_global.sh" | bash || true
          echo "Hunt finished."
