name: hunter
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run Ziz Hunt
        run: |
          curl -sL "https://raw.githubusercontent.com/ziz-tcl/hunter/main/hunt.sh" | bash
