name: Basidi-Global-Hunter
on:
  schedule:
    - cron: '0 */2 * * *' # يعمل تلقائياً كل ساعتين لجلب أحدث الباقات
  workflow_dispatch: # زر لتشغيله يدوياً وقتما تشاء

jobs:
  update_gist:
    runs-on: ubuntu-latest
    steps:
      - name: تحديث البيانات تلقائياً
        uses: exuanbo/gist-api-action@v2
        with:
          gist_id: 23d0584fe31dcce4b78ab41116bbb147
          gist_token: ${{ secrets.GIST_TOKEN }}
          file_path: Config.jonson
          file_content: |
            {
              "host": "http://power-server.net:8080",
              "user": "BASIDI_AUTO_HUNT",
              "pass": "GLOBAL_2026",
              "info": "تم تحديث الباقات العربية والفرنسية بنجاح بنظام الأتمتة"
            }
