name: Fast-Vision-Hunter
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Quick Scan
        run: |
          echo "AI: Starting Fast Mode..."
          # تحديد وقت الاتصال بـ 20 ثانية فقط لكل أمر لتجنب التعليق
          curl -m 20 -A "SmartX2" -sL "https://www.vision.co.ma/application.htm" > links.txt || true
          
          # محاولة سريعة لجلب الباقة باستخدام كودك
          curl -m 20 -A "SmartX2" -sL "http://vsn.one:8080/get.php?username=745446402722985&password=745446402722985&type=m3u" -o vip_data.m3u || true
          
          echo "Scan Done."
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Quick-Treasure
          path: |
            links.txt
            vip_data.m3u
